{% extends "base.html" %}

{% block content %}
{% include "navigation.html" %}
<div class="row">
    <div class="twelve columns">
        {% if error %}
        <h3>{{ error }}</h3>
        {% else %}
        <h2>{{genre.name}}</h2>

        {% for movie in movies %}
        <h4><a href="/movies/{{movie.mid}}">{{ movie.title }} ({{movie.mdate}})</a></h4>
        <div style="display:none;">
            {% include "movie_tmp.html" %}
        </div>
        {% endfor %}
        {% endif %}

    </div>


</div>

{% endblock %}
