{% extends "base.html" %}

{% block content %}
{% include "navigation.html" %}
<div class="row">
    <div class="twelve columns">
        {% if current_user.is_authenticated() %}
        <h3>Hi, {{current_user.username}}! </h3>
        {% endif %}
        <h1>Is Pepsi Okay?</h1>
        <p>Movie recommendations for the amateur (e.g. compared with Netflix),
        much like how Pepsi is the inferior beverage to Coca Cola. To improve
        your recommendations, search for some movies you've seen and rate them!
        Also rate some people (actors, directors, producers, writers, composers, etc.).
        Currently, genres are not taken into account since the current dataset used does
        not have the cleanest data, especially with regard to genre.

        When you are ready, click Recommendations!
        </p>


        <form>
        <h5>Movie Search</h5>
        <input id="movies-auto" class="autocomplete" type="text" />
        <ul id="movies-auto-list" style="list-style-type:none;">
        </ul>


        <h5>People Search</h5>
        <input id="people-auto" class="autocomplete" type="text" />
        <ul id="people-auto-list" style="list-style-type:none;">
        </ul>


        <h5>Genre Search</h5>
        <input id="genres-auto" class="autocomplete" type="text" />
        <ul id="genres-auto-list" style="list-style-type:none;">
        </ul>
    </form>
    
    Created by Ethan Lusterman &amp; Joe Mercedes
    </div>


</div>

{% endblock %}
