{% extends "base.html" %}

{% block content %}
{% include "navigation.html" %}
<div class="row">
    <div class="twelve columns">
        <h1>Is Pepsi Okay?</h1>
        <p>Movie recommendations for the amateur (e.g. compared with Netflix),
        much like how Pepsi is the inferior beverage to Coca Cola.</p>


        <form>
        <h5>Movie Search</h5>
        <input id="movies-auto" class="autocomplete" type="text" />
        <ul id="movies-auto-list" style="list-style-type:none;">
        </ul>


        <h5>People Search</h5>
        <input id="people-auto" class="autocomplete" type="text" />
        <ul id="people-auto-list" style="list-style-type:none;">
        </ul>
    </form>
    </div>


</div>

{% endblock %}
