{% extends "base.html" %}

{% block content %}
{% include "navigation.html" %}
<div class="row">
    <div class="twelve columns">
        {% if error %}
        <h3>{{ error }}</h3>
        {% else %}
        <h2>{{person.name}}</h2>

        {% for movie in movies %}
        <h4><a href="/movies/{{movie.mid}}">{{ movie.title }} ({{movie.mdate}})</a></h4>
        <ul>
            {% if movie.directed %}<li>Director</li>{% endif %}
            {% if movie.produced %}<li>Producer</li>{% endif %}
            {% if movie.wrote %}<li>Writer</li>{% endif %}
            {% if movie.composed %}<li>Composer</li>{% endif %}
            {% if movie.acted %}<li>Actor</li></ul>{% endif %}
        </ul>

        {% endfor %}
        {% endif %}

    </div>
</div>

{% endblock %}
