{% extends "base.html" %}

{% block content %}
{% include "navigation.html" %}
<div class="row">
    <div class="twelve columns">
        <h1>We Reccommend...</h1>
            {% if movies %}
            <table>
                <thead>
                    <tr>
                        <th width="150">Movies</th>
                    </tr>
                </thead>
                <tbody>
                {% for m in movies %}
                <tr>
                    <td>
                        <a href="/movies/{{m.mid}}">
                            {{m.title}}
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h3>...that you rate some movies, people, and genres first!</h3>
            {% endif %}

        </div>
    </div>

    {% endblock %}
